// Table of Content
// ===============================================
// # General
// # Grid
// # Typography */

// # General
// =============================================== */

// Image Path
$image-path: '../../img';

// Page
$page-bg: #fff;

// Width
$width-base: 1140px; // Mainly used for centering

// Gutters
$gutter-base: 20px;
$gutter-top: 0;
$gutter-right: $gutter-base;
$gutter-bottom: $gutter-base;
$gutter-left: $gutter-base;
$gutter-side: 20px; // Used when base width is reached
$gutter-side-tablet: 20px; // Used when base width is reached
$gutter-side-phone: 20px; // Used when base width is reached

// Colors
$color-error: #d9534f;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-disabled: #BFC7CE;
$color-white: #fff;
$color-off-white: #F4F4F4;
$color-light: #F9F9F9;
$color-light-alt: #E1E8EE;
$color-black: #000;
$color-info: #5bc0de;
$color-green: #7DC855;
$color-gray: #5E6977;
$color-gray-dark: #545E6B;
$color-light-gray: #86939E;
$color-sky-blue: #39ADD1;
$color-blue: #358ED7;

// Breakpoints
$breakpoint-small: 479px;
$breakpoint-phone: 767px;
$breakpoint-tablet: 989px;
$breakpoint-desktop: 1170px;

// # Animations */
$base-duration: 0.25s;
$base-timing: ease-in-out;

// # Typography */
$text-color-base: #5E6977;

$link-color-base: #358ED7;
$link-decoration-base: none;
$link-hover-color-base: darken($link-color-base, 15%);
$link-hover-decoration-base: underline;

$font-family-base: 'Roboto', Arial, sans-serif;
$font-size-base: 16px;
$font-size-h1: 52px;
$font-size-h2: 52px;
$font-size-h3: 32px;
$font-size-h4: 18px;
$font-size-h5: 14px;
$font-size-h6: 10px;

$line-height-base: 1.4; // Always use integer no px or rem values

$heading-margin: 0 0 19px 0;
$heading-font-family: inherit;
$heading-font-weight: 300;
$heading-line-height: 1.1;
$heading-color: #43484D;