.action {
	width: 100%;
	background-color: $color-gray;
	box-shadow: 0 2px 4px rgba($color-black, 0.1);
	@include position(relative, null);
	@include padding(257px null 110px);
	@include max-screen($breakpoint-desktop) {
		@include padding(200px null 70px);
	}
	@include max-screen($breakpoint-tablet) {
		@include padding(150px null 40px);
	}
	@include max-screen($breakpoint-phone) {
		@include padding(120px null null);
	}

	&__content {
		@extend .article;
		@include padding(0 null null null);

		h2 {
			color: $color-white;
		}

		p {
			color: rgba($color-white, 0.8);
			@include margin(null null 38px);
			@include max-screen($breakpoint-tablet) {
				@include margin(null null 25px);
			}
		}
	}

	&__brand {
		strong {
			display: block;
			font-size: 18px;
			font-weight: 500;
			line-height: 18px;
			text-align: center;
			color: rgba($color-white, 0.6);
			@include padding(22px null null);
			@include max-screen($breakpoint-tablet) {
				@include padding(10px null null);
			}
			@include max-screen($breakpoint-phone) {
				font-size: 17px;
				br {
					display: none;
				}
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			li {
				@include padding(20px 25px null);
				@include max-screen($breakpoint-desktop) {
					@include padding(null 15px);
				}
				@include max-screen($breakpoint-tablet) {
					@include padding(null 10px);
				}

				a {
					height: 100%;
					opacity: 0.2;
					display: block;
					transition: $base-timing $base-duration;

					&:hover {
						opacity: 1;
					}

					img {
						width: auto;
						height: 36px;
						display: block;
						@include max-screen($breakpoint-tablet) {
							height: 30px;
						}
					}
				}
			}
		}
	}
}