.article {
	text-align: center;
	@include padding(100px null 59px);
	@include max-screen($breakpoint-desktop) {
		@include padding(50px null 40px);
	}
	@include max-screen($breakpoint-tablet) {
		@include padding(40px null 30px);
	}
	@include max-screen($breakpoint-phone) {
		@include padding(30px null);
	}


	p {
		font-size: 22px;
		font-weight: 300;
		max-width: 650px;
		line-height: 1.48;
		color: $color-gray;
		@include margin(0 auto);
		@include max-screen($breakpoint-tablet) {
			font-size: 20px;
		}
		@include max-screen($breakpoint-phone) {
			font-size: 17px;
		}
	}
}