.footer {
	width: 100%;
	z-index: 99;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	background-color: $color-gray-dark;
	box-shadow: 0 2px 4px rgba($color-black, 0.1);
	@include position(relative, null);
	@include padding(60px null 37px);
	@include max-screen($breakpoint-tablet) {
		@include padding(40px null 30px);
	}
	@include max-screen($breakpoint-phone) {
		@include padding(20px null);
	}

	a {
		color: rgba($color-white, 0.6);

		&:hover {
			color: $color-white;
		}
	}

	&__logo {
		width: 33%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		@include max-screen($breakpoint-tablet) {
			width: 33%;
		}
		@include max-screen($breakpoint-phone) {
			width: 100%;
		}

		a {
			width: 74px;
			@include max-screen($breakpoint-tablet) {
				width: 50px;
				display: inline-block;
			}
		}

		p {
			width: calc(100% - 75px);
			color: rgba($color-white, 0.6);
			@include padding(null null null 24px);
			@include max-screen($breakpoint-desktop) {
				@include padding(null null null 10px);
			}
			@include max-screen($breakpoint-tablet) {
				width: calc(100% - 50px);
				@include padding(null null null 10px);
			}
		}
	}

	&__nav {
		width: 43%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		@include padding(5px null null 70px);
		@include max-screen($breakpoint-tablet) {
			width: 42%;
			@include padding(null null null 30px);
		}
		@include max-screen($breakpoint-phone) {
			width: 100%;
			@include padding(15px null null 0);
		}

		ul {
			width: 33.33%;
			@include padding(null 10px null null);

			li {
				@include padding(null null 15px);
				@include max-screen($breakpoint-phone) {
					@include padding(null null 5px);
				}

				h4 {
					font-weight: 500;
					color: $color-white;
					@include margin(null null 0);
				}
			}
		}
	}

	&__language {
		width: 23%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		@include padding(3px 60px null null);
		@include position(relative, null null);
		@include max-screen($breakpoint-desktop) {
			@include padding(null 10px null null);
		}
		@include max-screen($breakpoint-tablet) {
			width: 25%;
		}
		@include max-screen($breakpoint-phone) {
			width: 100%;
			justify-content: center;
			@include padding(15px null null null);
		}

		> a {
			display: inline-block;
			@include position(relative, null);
			@include padding(null 20px null 25px);
			@include background-image(language-icon, svg, left 2px, no-repeat);
			@include max-screen($breakpoint-phone) {
			}

			&:after {
				content: '';
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 5px 4.5px 0 4.5px;
				border-color: $color-light-gray transparent transparent transparent;
				@include position(absolute, 7px 2px null null);
			}
		}

		ul {
			width: 107px;
			float: right;
			display: none;
			@include max-screen($breakpoint-tablet) {
				width: 100%;
				float: none;
				text-align: center;
			}

			li {
				@include padding(4px null null);
			}
		}
	}
}